<h3>AdditionalResources</h3>


@* Please dont execute *@

Enter your postcode
<p>
    <input type="number"
@bind-value ="local.postcode" />
</p>

Enter your Country
<p>
    <input type="text "
@bind-value ="local.Country" />
</p>

@* Button for user input *@
 <button class="btn btn-primary" @onclick="ShowDetails">Click me</button>



@* Calling person object *@
<p>
Your Details:
<br/>
Name: @person.Salesperson
<br/>
@* ToString("c") to show currency *@
Amount: @person.Amount.ToString("c") 
</p>



@code {
    void ShowDetails()
    {
        return;
    }
    /// <summary>
    /// show two way binding 
    /// </summary>
  


    IndexViewModel person = null;   
    /// <summary>
    /// OnInitialized method used for OnDemand Print of Person
    /// </summary>
    protected override void OnInitialized()
    {
        base.OnInitialized();    
        person = new IndexViewModel
        {
            Salesperson = "",
            Amount = 0,
            Locations = new List<Location>
    {
    new Location {city = local.city, postcode = local.postcode, Country = local.Country }
    }
        };

        }






    /// <summary>
    /// get/set used and Location List created 
    /// </summary>
    class IndexViewModel
    {
        public string Salesperson { get; set; }
        public double Amount { get; set; }
        public List<Location> Locations;
    }
    IndexViewModel index = new IndexViewModel();

    /// <summary>
    /// used to update the location details
    /// </summary>
    class Location
    {
        public string city { get; set; }
        public int postcode { get; set; }
        public string Country { get; set; }
     }

    Location local = new Location();

}
