


@page "/"



Enter your Name:


@* Binding variable with elements *@
<p>   
   <input type="text"
@bind-value ="person.Salesperson" /> 
</p>

<br/>

Enter the Amount:

@* Binding variable with elements *@
<p>
    <input type="number"
@bind-value ="person.Amount" />
</p>



@* Calling person object *@
<p>
Your Details:
<br/>
Name: @person.Salesperson
<br/>

@* ToString("c") to show currency *@
Amount: @person.Amount.ToString("c") 
</p>




@code{
    /// <summary>
    /// Example of one way binding 
    /// 
    /// </summary>
    


    IndexViewModel person = null;   


    /// <summary>
    /// OnInitialized method used for OnDemand Print of Person
    /// </summary>
    protected override void OnInitialized()
    {
       
        base.OnInitialized();    

        person = new IndexViewModel
        {
            Salesperson = "",
            Amount = 0,
            Locations = new List<Location>
    {
    new Location { id = 1, city = "London", postcode = 2192, Country = "England" }
    }
        };

        }


    /// <summary>
    /// get/set used and Location List created 
    /// </summary>
    class IndexViewModel
    {
        public string Salesperson { get; set; }
        public double Amount { get; set; }
        public bool isActive { get; set; }
        public List<Location> Locations;
    }

    /// <summary>
    /// used to update the location details
    /// </summary>
    class Location
    {
        public int id { get; set; }
        public string city { get; set; }
        public int postcode { get; set; }
        public string Country { get; set; }
     }

}